version: "3.9"

services:
  dbinit:
    image: "powerdns/pdns-auth-51:latest"
    container_name: "pdns-dbinit"
    entrypoint: "/bin/sh"
    user: "root"
    command: >
      -lc '
        set -eu;
        if [ ! -s /data/pdns.sqlite3 ]; then
          sqlite3 /var/lib/powerdns/pdns.sqlite3 '.schema' > /var/lib/powerdns/pdns.sqlite3.sql
          sqlite3 /data/pdns.sqlite3 < /var/lib/powerdns/pdns.sqlite3.sql;
          chown -R pdns:pdns /data
          echo "SQLite schema created at /data/pdns.sqlite3";
        else
          echo "SQLite DB already present; skipping init.";
        fi
      '
    volumes:
      - "pdns_data:/data"
      - "schema:/schema:ro"
    restart: "no"

  pdns:
    image: "powerdns/pdns-auth-51:latest"
    container_name: "pdns"
    depends_on:
      dbinit:
        condition: "service_completed_successfully"
    volumes:
      - "pdns_data:/data"
      - "./pdns.conf:/etc/powerdns/pdns.conf:ro"
    ports:
      - "5300:5300/udp"
      - "5300:5300/tcp"
      - "8081:8081/tcp"

  pdns-health:
    image: "curlimages/curl:latest"
    container_name: "pdns-health"
    stop_grace_period: "1s"
    depends_on:
      pdns:
        condition: "service_started"
    command: >
      sh -c "
        echo 'Starting PDNS health probe...';
        while true; do
          sleep 60;
        done
      "
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -sf -H 'X-API-Key: testapikey' http://pdns:8081/api/v1/servers >/dev/null 2>&1 || exit 1",
        ]
      interval: "5s"
      timeout: "3s"
      retries: 5

  recursor:
    build:
      context: "."
      dockerfile: "Dockerfile.recursor"
    container_name: "recursor"
    depends_on:
      pdns-health:
        condition: "service_healthy"
    volumes:
      - "./recursor.yml:/etc/powerdns/recursor.yml"
    ports:
      - "5301:5301/udp"
      - "5301:5301/tcp"
      - "8082:8082/tcp"

  recursor-health:
    image: "curlimages/curl:latest"
    container_name: "recursor-health"
    stop_grace_period: "1s"
    depends_on:
      recursor:
        condition: "service_started"
    command: >
      sh -c "
        echo 'Starting Recursor health probe...';
        while true; do
          sleep 60;
        done
      "
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -sf -H 'X-API-Key: testapikey' http://recursor:8082/api/v1/servers/localhost >/dev/null 2>&1 || exit 1",
        ]
      interval: "5s"
      timeout: "3s"
      retries: 5

  terraform:
    build:
      context: "."
      dockerfile: "Dockerfile.tf"
      args:
        TF_PLUGIN_PLATFORM: ${TF_PLUGIN_PLATFORM:-linux_amd64}
    container_name: "terraform"
    stop_grace_period: 1s
    depends_on:
      recursor-health:
        condition: "service_healthy"
    working_dir: "/tf"
    # Create, assert and delete all resources
    entrypoint:
      - "/bin/sh"
      - "-lc"
      - |
        set -eu

        echo "Current dir: $(pwd)"
        terraform version

        terraform init
        terraform apply -auto-approve

        ./assert.test -test.v

        echo "" > main.tf && echo "" > outputs.tf
        terraform apply -auto-approve
    restart: "no"

volumes:
  pdns_data:
  schema:
